.banana {
    margin-top: 10px;
    background-color: transparent !important;
}

.cake {
    margin-top: 10px;
    background-color: transparent !important;
}

.apple {
    margin-top: 10px;
    background-color: transparent !important;
}

.cheese {
    margin-top: 10px;
    background-color: transparent !important;
}

.cherry {
    margin-top: 10px;
    background-color: transparent !important;
}

.grape {
    width: 3rem;
    margin-top: 10px;
    background-color: transparent !important;
}

.icecream {
    margin-top: 10px;
    background-color: transparent !important;
}

.plum {
    width: 3rem;
    margin-top: 17px;
    background-color: transparent !important;
}

.pumpkin {
    margin-top: 10px;
    background-color: transparent !important;
}

.tomato {
    width: 3rem;
    margin-top: 10px;
    background-color: transparent !important;
}